$background-color: #4d1d36;
$background-color-hover: #592841;

.container {
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30%;
    padding: 4.5rem 0;
    background-color: $background-color;
    border-radius: 4rem;
    list-style: none;
}

.preview {
    cursor: pointer;
    display: flex;
    gap: 2rem;
    padding: 0 4.5rem;

    &:hover {
        background-color: $background-color-hover;
    }
}

.preview__poster {
    max-width: 6.5rem;
    height: 9.5rem;
    border: 3px ridge #43142d;
}

.preview__title {
    text-align:start;
    margin-top: 1rem;
}

.card {
    position: sticky;
    top: 10rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    padding: 4.5rem;
    border-radius: 4rem;
    background-color: $background-color;
}

.card__container {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
}

.card__info-wrapper {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 60%;
}

.card__poster {
    width: 20rem;
    height: 30rem;
    border: 5px ridge #43142d;
}

.card__genres {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.card__genres__points {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card__btn {
    cursor: pointer;
    align-self: center;
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    width: fit-content;
    background-color: #6d3b54;
    color: #bca5af;
    font-weight: 600;

    &:hover {
        background-color: #43142d;
        transform: scale(0.95);
        transition: all 0.3s ease-out;
    }
}

.card__overview {
    text-align: justify;
    padding-top: 2rem;

}