.list {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    list-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;
}

.card {
    cursor: pointer;
    padding: 2rem;
    width: 20rem;
}

.card__poster {
  width: 18rem;
  height: 25rem;
}

.card__title {
}

.top-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10rem;
}

.btns-wrapper {
    display: flex;
    gap: 2rem;
}

.top-list {
    list-style: none;
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    row-gap: 8rem;
}

.top-card {
    cursor: pointer;
}

.top-card__poster {
    width: 15rem;
    height: 20rem;
}