.list__wrapper {
    display: flex;
    flex-direction: row;
}

.list__wrapper__btn {
    cursor: pointer;
    padding: 2rem;
    border: none;
    background-color: transparent;
    align-self: flex-start;
}

.list {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    overflow-x: scroll;
    list-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;
}

.card {
    cursor: pointer;
    width: 20rem;
}

.card__poster {
  width: 18rem;
  height: 25rem;
  border: 5px ridge #43142d;
}

.top-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.btns-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    // align-self: flex-start;
}

.top-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #43142d;
    color: #bca5af;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;

    &:hover {
        background-color: #6d3b54;
        transition: all 0.3s ease-out;
    }
}

.top-btn__pages {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #bca5af;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0.5rem;

    &:hover {
        color: #9d8992;
    }

    &.active {
        text-decoration: underline;
    }
}

.top-list {
    list-style: none;
    display: grid;
    grid-template: auto / repeat(5, 1fr);
    column-gap: 8rem;
    row-gap: 4rem;
}

.top-card {
    cursor: pointer;
    width: min-content;
}

.top-card__poster {
    width: 15rem;
    height: 20rem;
    border: 5px ridge #43142d;
}

.top-card__rating {
    position: absolute;
    z-index: 1;
    background-color:#f1bc56;
    color:#43142d;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border: 2px ridge #f1bc56;
    border-radius: 2rem;
}