$background-color: #43142d;
$thumb-color: #bca5af;

.result-wrapper {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  row-gap: 8rem;
  margin-top: 2rem;
}

.card {
  cursor: pointer;
  width: 30rem;
  padding: 1rem;
  list-style-type: none;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;

  &:hover {
    background-color: #3c0d27;
    transition: all 0.3s ease-in;
  }
}

.card__poster {
  width: 18rem;
  height: 25rem;
}

.card__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card__title {
}

.card__overview {
  overflow-y: auto;
  text-align: justify;
  height: 11rem;
  padding: 1rem;
  scrollbar-color: $thumb-color $background-color;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-gutter: stable both-edges;
}

.card__release {
}
