$background-color: #43142d;
$thumb-color: #bca5af;

.result-wrapper {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  row-gap: 8rem;
  margin-top: 2rem;
}

.card {
  cursor: pointer;
  width: 30rem;
  padding: 1rem;
  list-style-type: none;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;

  &:hover {
    background-color: #3c0d27;
    transition: all 0.3s ease-in;
  }
}

.card__poster {
  width: 18rem;
  height: 25rem;
}

.card__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card__overview {
  overflow-y: auto;
  text-align: justify;
  height: 11rem;
  padding: 1rem;
  scrollbar-color: $thumb-color $background-color;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-gutter: stable both-edges;
}

/* adaptivness */

/* Large: 992-1199px */
@media (max-width: 1199px) {
  .result-wrapper {
    grid-template: auto / repeat(3, 1fr);
    row-gap: 6rem;
  }
  .card {
    width: 25rem;
  }
  .card__poster {
    height: 22rem;
    width: 15rem;
  }
  .card__overview {
    height: 9rem;
  }
}

/* Medium: 768-991px */
@media (max-width: 991px) {
  .result-wrapper {
    grid-template: auto / repeat(2, 1fr);
    row-gap: 6rem;
  }
  .card {
    margin: 0 auto;
  }
}

/* Small: 576-767px */
@media (max-width: 767px) {
  .card {
    width: 22rem;
  }
  .card__poster {
    height: 19rem;
    width: 12rem;
  }
  .card__overview {
    height: 10rem;
  }
}

/* Extra small: 320-575px */
@media (max-width: 575px) {
  .result-wrapper {
    row-gap: 3rem;
  }
  .card {
    width: 14rem;
  }
  .card__poster {
    height: 10rem;
    width: 7rem;
  }
  .card__overview {
    height: 7rem;
  }
}
