.result-wrapper {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  row-gap: 8rem;
}

.card {
  cursor: pointer;
  width: 30rem;
  height: 45rem;
  padding: 2rem;
  list-style-type: none;
}

.card__poster {
  width: 18rem;
  height: 25rem;
}

.card__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card__title {
}

.card__overview {
  overflow-y: auto;
  text-align: justify;
  height: 11rem;
  padding: 1rem;
  scrollbar-color: #bca5af #43142d;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-gutter: stable both-edges;
}

.card__release {
}
