@import "components/navbar.module.scss";

$background-color: #43142d;
$text-color: #bca5af;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

html {
  font-size: 65%;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  min-width: 100%;
  min-height: 100vh;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  background-color: $background-color;
  color: $text-color;
}
