@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500..900&display=swap");

$background-color: #43142d;
$text-color: #bca5af;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

html {
  font-size: 65%;
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-weight: 800;
}
h3 {
  font-weight: 700;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  min-width: 100%;
  min-height: 100vh;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  background-color: $background-color;
  color: $text-color;
}

.App {
  position: relative;
  min-height: 85vh;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  padding-top: 13rem;
  padding-bottom: 6rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

/* adaptivness */

/* Large: 992-1199px */
@media (max-width: 1199px) {
  .App {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

/* Medium: 768-991px */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .App {
    padding-top: 11rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

/* Small: 576-767px */
@media (max-width: 767px) {
  html {
    font-size: 50%;
  }
  .App {
    padding-top: 11rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* Extra small: 320-575px */
@media (max-width: 575px) {
  html {
    font-size: 45%;
  }
  body {
    font-size: 1rem;
  }
  .App {
    padding-top: 9rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h1 {
    font-weight: 700;
  }
  h3 {
    font-weight: 600;
  }
}
