@import "components/navbar.module.scss";
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500..900&display=swap');

$background-color: #43142d;
$text-color: #bca5af;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

html {
  font-size: 65%;
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-weight: 800;
}
h3 {
  font-weight: 700;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  min-width: 100%;
  min-height: 100vh;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  background-color: $background-color;
  color: $text-color;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 13rem;
  padding-bottom: 6rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
